.header li {
    list-style: none;
}

.header a {
    text-decoration: none;
}

.header{
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.nav-item {
    margin: 0 25px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
}

.header .navbar .image-navbar{
    max-width: 110px;
}

.header .navbar{
    background-color: #2571B7;
}


@media (min-width: 320px){
    .nav-menu{
        display: none;
    }

    .nav-link{
        display: none;
    }

    .hamburger{
        display: block;
        float: left;
    }

    .navbar{
        padding: 5px 15px;
    }

    .header .navbar .btn.fundo-002050{
        font-size: 1rem;
        padding: 5px 15px;
    }
}

@media (min-width: 1200px){
    .nav-menu{
        display: flex;
    }

    .hamburger {
        display: none;
    }

    .nav-link{
        display: flex;
    }

    .div-ul{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-right: 70px;
    }

    .header .navbar .btn.fundo-002050{
        font-size: 1.2rem;
        padding: 10px 10px;
        width: 200px;
    }

    .header .navbar{
        padding: 0 100px;
    }
}

@media (min-width: 2560px){
    .header .navbar .nav-link{
        font-size: 2rem;
    }

    .header .navbar .btn.fundo-002050{
        font-size: 2rem;
    }

    .header .navbar .image-navbar{
        max-width: 170px;
    }

    .header .navbar .btn.fundo-002050{
        width: 300px;
    }
    .header .navbar{
        padding: 15px 100px;
    }
}